html,
body {
    height: 100%;
    width: 100%;
}

#__next {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.is-clickable {
    cursor: pointer;

    :hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 769px) {
    .is-x-paddingless-desktop {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.is-x-paddingless {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.is-y-paddingless {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.is-x-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.is-y-paddingless {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
